@using Salao.Repository.Models.Account.Views;
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Alterar     Senha";
}
<br />
<br />
<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />
    <div class="row">
        <div class="col">
            <div class="card bg-bluedark  h-100">
                <div class="card-header" style="padding: 1.5rem;">
                    <h5 class="mb-0" style="font-size: 1rem;">Trocar senha</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="newPassword" class="control-label">Nova Senha:</label>
                            <input type="password" class="form-control" id="newPassword" name="NewPassword" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="confirmPassword" class="control-label">Confirmar Senha:</label>
                            <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div>
                                <button type="submit" class="btn btn-primary">Alterar Senha</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
